# Sempre ignore metadados e CI
.git/
.github/
.vscode/
node_modules/
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Código-fonte/ts, testes e scripts locais
src/**
test/**
tests/**
scripts/**
tools/**
*.map
*.ts
tsconfig.json

# Build intermediário que não entra no VSIX (ajuste se precisar)
!out/**      

# Payloads e arquivos grandes
**/*.zip
**/*.7z
**/*.tar
**/*.tar.gz
**/*.jpg
**/*.psd
!media/**      # mas mantenha os arquivos do webview

# Documentos que não precisam (deixe os essenciais)
arduino/
python/
docs/**
CHANGELOG.md

# EXCEÇÕES (mantenha no pacote)
!media/**
!dist/**
!out/**
!package.json
!README.md
!LICENSE
!CHANGELOG.md
